{% extends 'base.html' %}

{% load static %}

{% block content %}
<div
class="hero page-inner overlay"
style="background-image: url('{% static 'images/hero_bg_3.jpg' %}')"
>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
      <h1 class="heading" data-aos="fade-up">
        {{detail.location.name}}
      </h1>

      <nav
        aria-label="breadcrumb"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ol class="breadcrumb text-center justify-content-center">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">
            <a href="properties.html">Properties</a>
          </li>
          <li
            class="breadcrumb-item active text-white-50"
            aria-current="page"
          >
            {{detail.address}}
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
{% if detail %}
<div class="section">
<div class="container">
  <div class="row justify-content-between">
    <div class="col-lg-7">
      <div class="img-property-slide-wrap">
        <div class="img-property-slide">
          <img src="{{detail.image1.url}}" alt="Image" class="img-fluid" />
          <img src="{{detail.image2.url}}" alt="Image" class="img-fluid" />
          <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2 class="heading text-primary">{{detail.address}}</h2>
      <p class="meta">{{detail.location.name}}, {{detail.location.state}}</p>
      <p class="text-black-50">
        {{detail.description}}
      </p>

      <div class="d-block agent-box p-5">
        <div class="img mb-4">
          <img
            src="{{detail.agent.profile_picture.url}}"
            alt="Image"
            class="img-fluid"
          />
        </div>
        <div class="text">
          <h3 class="mb-0">{{detail.agent.user.first_name}} {{detail.agent.user.last_name}}</h3>
          <div class="meta mb-3">{{detail.agent.profession}}</div>
          <p>
            {{detail.agent.about}}
          </p>
          <ul class="list-unstyled social dark-hover d-flex">
            <li class="me-1">
              <a href="{{detail.agent.instagram}}" target="_blank"><span class="icon-instagram"></span></a>
            </li>
            <li class="me-1">
              <a href="{{detail.agent.twitter}}"><span class="icon-twitter"></span></a>
            </li>
            <li class="me-1">
              <a href="{{detail.agent.facebook}}"><span class="icon-facebook"></span></a>
            </li>
            <li class="me-1">
              <a href="{{detail.agent.linkedin}}"><span class="icon-linkedin"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}